.is-paragraph > br {
    margin-top: 8px; /* Adjust the value as needed */
    margin-bottom: 8px; /* Adjust the walue as needed */
    display: block; /* Ensures proper spacing */
    content: '\A'; /* Injects a line break using generated content */
    white-space: pre; /* Preserves whitespace */
}

/* Add spacing between blocks */
.ls-block {
  margin-bottom: 8px;
  margin-top: 8px;
}
